In [1]:
import sqlite3
import io
from PIL import Image

conn = sqlite3.connect('waste_disposal.db')

In [2]:
conn.execute('''CREATE TABLE Users
             (user_id INTEGER PRIMARY KEY,
             user_name TEXT NOT NULL,
             residential_location TEXT NOT NULL,
             recycled_waste_weight REAL DEFAULT 0,
             organic_waste_weight REAL DEFAULT 0,
             disposal_points INTEGER DEFAULT 0);''')

In [3]:
conn.execute("INSERT INTO Users (user_id, user_name, residential_location, recycled_waste_weight, organic_waste_weight, disposal_points) VALUES (05, 'Raghav', 'A Block', 10.5, 5.2, 20)")
conn.execute("INSERT INTO Users (user_id, user_name, residential_location, recycled_waste_weight, organic_waste_weight, disposal_points) VALUES (11, 'Satvik', 'M Block', 8.2, 6.7, 15)")
conn.execute("INSERT INTO Users (user_id, user_name, residential_location, recycled_waste_weight, organic_waste_weight, disposal_points) VALUES (35, 'Akshat', 'G Block', 12.1, 4.3, 25)")
conn.execute("INSERT INTO Users (user_id, user_name, residential_location, recycled_waste_weight, organic_waste_weight, disposal_points) VALUES (17, 'Shiva', 'D Block', 7.8, 3.9, 21)")
conn.execute("INSERT INTO Users (user_id, user_name, residential_location, recycled_waste_weight, organic_waste_weight, disposal_points) VALUES (14, 'Shubham', 'E Block', 15.7, 6.9, 17)")

conn.commit()

In [4]:
ur = conn.execute("SELECT * FROM Users")
for r in ur:
    print(r)

(5, 'Raghav', 'A Block', 10.5, 5.2, 20)
(11, 'Satvik', 'M Block', 8.2, 6.7, 15)
(14, 'Shubham', 'E Block', 15.7, 6.9, 17)
(17, 'Shiva', 'D Block', 7.8, 3.9, 21)
(35, 'Akshat', 'G Block', 12.1, 4.3, 25)

In [5]:
conn.execute('''CREATE TABLE Products
             (product_id INTEGER PRIMARY KEY,
             product_name TEXT NOT NULL,
             category TEXT NOT NULL,
             brand TEXT NOT NULL,
             price REAL NOT NULL,
             image BLOB);''')

In [6]:
with open("/Users/raghavsrivastava/Desktop/Unknown-5.jpeg", "rb") as f:
    img1 = f.read()
with open("/Users/raghavsrivastava/Desktop/Unknown-3.jpeg", "rb") as f:
    img2 = f.read()
with open("/Users/raghavsrivastava/Desktop/Unknown-1.jpeg", "rb") as f:
    img3 = f.read()
with open("/Users/raghavsrivastava/Desktop/Unknown-4.jpeg", "rb") as f:
    img4 = f.read()
with open("/Users/raghavsrivastava/Desktop/Unknown.jpeg", "rb") as f:
    img5 = f.read()
with open("/Users/raghavsrivastava/Desktop/Unknown-2.jpeg", "rb") as f:
    img6 = f.read()

In [7]:
conn.execute("INSERT INTO Products (product_id, product_name, category, brand, price, image) VALUES (71, 'Blue Denim Over-shirt', 'Men','Levis', 2000, ?)", (img1,))
conn.execute("INSERT INTO Products (product_id, product_name, category, brand, price, image) VALUES (93, 'Wu-Shang Clan Tee', 'Men','Bewakoof', 500, ?)", (img2,))
conn.execute("INSERT INTO Products (product_id, product_name, category, brand, price, image) VALUES (47, 'White Sneakers', 'Women','H & M', 1500, ?)", (img3,))
conn.execute("INSERT INTO Products (product_id, product_name, category, brand, price, image) VALUES (87, 'Red Trousers', 'Men','Bonkers', 700, ?)", (img4,))
conn.execute("INSERT INTO Products (product_id, product_name, category, brand, price, image) VALUES (55, 'Tan Knee High Boots', 'Men','WoodLand', 10000, ?)", (img5,))
conn.execute("INSERT INTO Products (product_id, product_name, category, brand, price, image) VALUES (64, 'Orange Crop Top', 'Women','Forever 21', 1500, ?)", (img6, ))
conn.commit()

In [35]:
for i in range(len(list(conn.execute("SELECT product_name FROM Products")))):
    x = prd_nms[i]
    result = conn.execute("SELECT image FROM Products WHERE product_name = ?", x)
    img_data = result.fetchone()[0]
    img = Image.open(io.BytesIO(img_data))
    img.show()